<div class="container">
    <h2>Update Owner Name</h2>
    <div class="mb-3">
      <label for="plateNumber" class="form-label">Plate Number</label>
      <input
        type="text"
        [(ngModel)]="plateForm.plateNumber"
        class="form-control"
        id="plateNumber"
        disabled
      />
    </div><br/>
    <div class="mb-3">
      <label for="ownerName" class="form-label">Owner Name</label>
      <input
        type="text"
        [(ngModel)]="plateForm.ownerName"
        class="form-control"
        id="ownerName"
      />
    </div>
    <button type="button" class="btn btn-dark" (click)="udapte()">Update</button>
  </div>