<div class="add-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Plate Number</label>
        <input
          type="text"
          formControlName="plateNumber"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.get('plateNumber')?.errors }"
        />
        <div *ngIf="submitted && form.get('plateNumber')?.errors" class="invalid-feedback">
          <div *ngIf="form.get('plateNumber')?.errors?.['required']">Plate Number is required</div>
          <div *ngIf="form.get('plateNumber')?.errors?.['minlength']">
            Plate Number must be at least 6 characters
          </div>
          <div *ngIf="form.get('plateNumber')?.errors?.['maxlength']">
            Plate Number must not exceed 6 characters
          </div>
          <div *ngIf="form.get('plateNumber')?.errors?.['invalidPlateNumber']">
            The first 3 digits of the plate number should be alphabets and the last 3 digits should be numbers
          </div>
          <div *ngIf="form.get('plateNumber')?.errors?.['notUniquePlateNumber']">
            Plate Number is not unique
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Owner Name</label>
        <input
          type="text"
          formControlName="ownerName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.get('ownerName')?.errors }"
        />
        <div *ngIf="submitted && form.get('ownerName')?.errors" class="invalid-feedback">
          <div *ngIf="form.get('ownerName')?.errors?.['required']">Owner Name is required</div>
          <div *ngIf="form.get('ownerName')?.errors?.['minlength']">
            Owner Name must be at least 6 characters
          </div>
          <div *ngIf="form.get('ownerName')?.errors?.['maxlength']">
            Owner Name must not exceed 20 characters
          </div>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Plate Number</button>&nbsp;&nbsp;
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning float-right"
        >
          Reset
        </button>
      </div>
    </form>
  </div>